<h1>welcome to your home page, <%= @user.name %></h1>

<h2>here are your produced artworks:</h2>

<h2>here are your bids on current artworks:</h2>

  <%= button_to "log out", logout_path, method: "delete" %>
